* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/*div {
    border: 2px solid;
}*/

.logo {
    grid-area: header;
    grid-column: 1/2;
}

.logo img {
    float: left;
}

nav {
    grid-area: header;
    grid-column: 2/4;
    justify-self: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav a {
    font-size: 20px;
    font-weight: bold;
    color: green;
    transition: all 0.5s ease 0s;
    text-transform: uppercase;
}

nav a:hover {
    color: chocolate;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000000;
}

main {
    grid-area: main;
}

.gallery-1 {
    grid-area: gallery-1;
}

.gallery-2 {
    grid-area: gallery-2;
}

.gallery-3 {
    grid-area: gallery-3;
}

.gallery-4 {
    grid-area: gallery-4;
}

.gallery-5 {
    grid-area: gallery-5;
}

.gallery-6 {
    grid-area: gallery-6;
}

.gallery-7 {
    grid-area: gallery-7;
}

.gallery-8 {
    grid-area: gallery-8;
}

.gallery-9 {
    grid-area: gallery-9;
}

.gallery-10 {
    grid-area: gallery-10;
}

.gallery-11 {
    grid-area: gallery-11;
}

.gallery-12 {
    grid-area: gallery-12
}

footer {
    grid-area: footer;
}


.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 20px;
    grid-template-areas: 
        "header header header"
        "main main main"
        "gallery-1 gallery-2 gallery-3"
        "gallery-4 gallery-5 gallery-6"
        "gallery-7 gallery-8 gallery-9"
        "gallery-10 gallery-11 gallery-12"
        "footer footer footer";
    justify-items: center;
    align-items: center;
}