* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*div {
    border: 2px solid;
}*/

body {
    background-color: #e9efeb;
}

h1 {
    color: #c46fb1;
    font-size: 200%;
}

h2 {
    color: #344319;
    font-size: 150%;
    padding: 20px 0px;
    font-family: "Poppins" , "Arial", "Sans-Serif";
}

h3 {
    color: #6d8251;
    font-size: 133%;
    padding: 10px 0px;
}

p {
    font-size: 100%;
    line-height: 1.4em;
    padding: 5px 0px;
}

hr {
    margin: 20px 0px;
}

nav {
    grid-area: nav;
    background-color: #C8A2C8;
    text-align: center;
    padding: 10px;
    font-family: "Poppins";
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 20px;
}

nav a {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    transition: all 0.5s ease 0s;
    text-transform: uppercase;
}

nav a:hover {
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000000;
}

header {
    display: inline-block;
    grid-area: header;
    justify-self: stretch;
    text-align: center;
    align-self: stretch;
    vertical-align: middle;
}

header img {
    float: left;
    height: 150px;
    opacity: 0.5;
}

header h1 {
    display: inline;
}

main {
    grid-area: main;
    max-width: 80%;
    padding: 30px 0px;
}

.gallery-1 {
    grid-area: gallery-1;
}

.gallery-2 {
    grid-area: gallery-2;
}

.gallery-3 {
    grid-area: gallery-3;
}

.gallery-4 {
    grid-area: gallery-4;
}

.gallery-5 {
    grid-area: gallery-5;
}

.gallery-6 {
    grid-area: gallery-6;
}

.gallery-7 {
    grid-area: gallery-7;
}

.gallery-8 {
    grid-area: gallery-8;
}

.gallery-9 {
    grid-area: gallery-9;
}

.gallery-10 {
    grid-area: gallery-10;
}

.gallery-11 {
    grid-area: gallery-11;
}

.gallery-12 {
    grid-area: gallery-12
}

footer {
    grid-area: footer;
    background-color: #C8A2C8;
    text-align: center;
    padding: 10px;
}


.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10%, repeat(7, 1fr);
    grid-gap: 20px;
    grid-template-areas: 
        "nav nav nav"
        "header header header"
        "main main main"
        "gallery-1 gallery-2 gallery-3"
        "gallery-4 gallery-5 gallery-6"
        "gallery-7 gallery-8 gallery-9"
        "gallery-10 gallery-11 gallery-12"
        "footer footer footer";
}

.centering {
    justify-self: center;
    align-self: center;
}